<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # If the request is not an actual file or folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Pass the URI to index.php
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>